<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>Piggyi之三次元</title>
		<meta name="robots" content="follow,index" />
		<meta name="keywords" content="Adobe,RIA,Flash,Flex,AIR,AS3,ActionScript,Flash Game,Flash Media Server,Piggyi" />
        <meta name="description" content="Piggyi的博客站点，聊聊技术，谈谈理想，偶尔发发牢骚。"/>
		<meta name="author" content="Piggyi" />
        <meta name="copyright" content="Piggyi之三次元" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />

	</head>
	<body>
	   <div id="logo"><h1><a href="/">Piggyi之三次元</a></h1></div>
		<div id="wrapper">
			<div id="content">
				<h2>{{ page.title }}</h2>
				<div class="cnt">
					{{ content }}
					<br />
				</div>				
			</div>
				<div id="footer">
					<p style="clear:both"></p>
				</div>
         </div>
      </div>
	</body>
</html>

