<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>Piggyi之三次元</title>
        <meta name="description" content="friendlinks"/>
		<meta name="author" content="N神,陈新" />
		<meta name="author" content="Piggyi" />
        <meta name="copyright" content="Piggyi之三次元" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>

	<body>
		<div id="logo"><h1><a href="/">Piggyi之三次元</a></h1></div>
		<div id="wrapper">
			<div id="content" class="index">
			
				<div id="sidebar">
					<ul>
						<li><a href="/index.html">Post</a></li>
						<li><a href="/about.html">About</a></li>
						<li><a href="/links.html">Link</a></li>
					</ul>
				</div>
				
				<div id="main">
					{{ content }}
				</div>
            </div>
		</div>
	</body>
</html>


